<% @comments.each do |comment| %>
  <div class="article">
    <h1 class="article-title"><%= link_to comment.FullName, comment%></h1>
    <p class="article-content"><%= comment.FullName %></p>
  </div>
<% end %>

